body{
    background-color: #162d48;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

header{
    background-color: #737887;

    img{
        width: 150px;
        height: auto;
        margin: auto;
    }

    h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    }

    p{
        text-align: center;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }
}

main{
    background-color: white;
}
