body{
    background-color: #d5352f;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: #ffbd59;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
    
      nav {
      display: flex;
      justify-content: center;
      gap: 20px; /* espaço egit initntre os botões */
      margin-top: 10px;
      }

      nav button {
      background-color: #ffbd59; /* mesma cor do header */
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-radius: 5px;
    }

    nav button:hover {
    background-color: #ffa115; /* tom mais escuro no hover */
  }

    img{
        width: 200px;
        height: auto;
        margin: auto;
        display: block;
    }

    h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    }
    div{
        display: inline-block;
        margin: auto;

        p{
        display: inline-block;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        }   
    }
    
}

main{
    background-color:white;
    min-height: 100vh;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;

    h1{
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 35px;
    }
    }

section {
  padding: 5px 40px;
  max-width: 900px;
  margin: 5px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
} 

section h2 {
  margin-bottom: 2px;
}

section ul, section ol {
  padding-left: 20px;
}

footer{
    margin: 0px;
    padding: 10px;
    background-color: #ffbd59
}